* {
    box-sizing: border-box;
}

body {
    margin: 100;
    font-family: Roboto;
    font-size: 17px;
}

.container {
    position: absolute;
    max-width: 1500px;
    min-width: 500px;
    margin: 10% 20%;
}

.container img {
	margin-bottom: -100px;
	margin-left: -120px;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(226, 155, 108, 0.3);
    color: #ffffff;
    width: 40%;
    height: 75%;
    padding: 50px;
}

/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #BD4D04;
}  

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

/* Change the color of About */
.navbar .about {
	color: #BD4D04;
}

.socialmedia {
	position: absolute;
	right: 0;
	bottom: 0;
}

.socialmedia .fa {
  padding: 30px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 20px;
}

.fa:hover {
    opacity: 0.7;
}

/* Media Query for iPhoneX */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 2px 4px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 5px;
    } 

    .container {
        max-width: 750px;
        min-width: 350px;
        margin: 10% 5%;
    }

    .container img {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .container .content {
        font-size: 5px;
        padding: 5px;
    }
}

/* Media Query for iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 2px 4px;}
   
    .BGpic {
        padding-top: 10px;
        float: left;
        position: absolute;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .mainBody {
        float: left;
        font-family: Roboto;
        text-align: center;
        padding-top: 200px;
    }

    .mainBody h4 {
        padding-bottom: 20px;
    }
}

/* Media Query for iPad 1, 2 Mini & Air */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar a {padding: 15px 30px;}

    .BGpic {
        position: relative;
        width: 600px;
        height: 400px;
    }

    .mainBody {
        position: absolute;
        top: -30px;
        right: 0px;
        width: 300px;
        height: 200px;
    }

    .mainBody h1 {
        font-size: 50px;
    }

