* {
    box-sizing: border-box;
}

body {
    margin: 100;
    font-family: Roboto;
    font-size: 17px;
}

.container {
    position: relative;
    max-width: 1500px;
    min-width: 320px;
    margin: 8% 18%;
}

.container img {
	margin-bottom: -70px;
	margin-left: -90px;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(226, 155, 108, 0.3);
    color: #FFFFFF;
    width: 40%;
    height: 75%;
    padding: 30px;
}

/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #BD4D04;
}  

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

/* Change the color of About */
.navbar .about {
	color: #BD4D04;
}

.socialmedia {
	position: absolute;
	right: 0;
	bottom: 0;
}

.socialmedia .fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: -10px 20px;
  color: #A57E5E;
}

.fa:hover {
    opacity: 0.7;
}

/* Phones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px) {
    .navbar a {padding: 5px 10px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 5px;
    } 

    .container {
        max-width: 710px;
        min-width: 300px;
        margin: 10% 5%;
    }

    .container img {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .container .content {
        font-size: 5px;
        padding: 5px;
    }

    .socialmedia {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 10px;
    }

    .socialmedia .fa {
        padding: 3px;
        font-size: 30px;
    }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
     .navbar a {padding: 20px 30px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 15px;
    } 

    .container {
        max-width: 1010px;
        min-width: 710px;
        margin: 10% 5%;
    }

    .container img {
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .container .content {
        font-size: 10px;
        padding: 10px;
    }

    .socialmedia {
        position: fixed;
        right: 0;
        bottom: 0;
    }

    .socialmedia .fa {
        padding: 3px;
        font-size: 30px;
    }

}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .navbar a {padding: 20px 30px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 15px;
    } 

    .container {
        max-width: 1010px;
        min-width: 740px;
        margin: 10% 5%;
    }

    .container img {
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .container .content {
        font-size: 15px;
        padding: 10px;
    }

    .socialmedia {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 10px;
    }

    .socialmedia .fa {
        padding: 3px;
        font-size: 30px;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
  .navbar a {padding: 20px 40px;}

  body {
    font-size: 12px;
  }

  .container .content h4{
    font-size: 15px;
  }

}


/* Media Query for iPhoneX */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 3px 6px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 5px;
    } 

    .container {
        max-width: 750px;
        min-width: 350px;
        margin: 5% 5%;
    }

    .container img {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .container .content {
        font-size: 5px;
        padding: 5px;
    }

    .socialmedia {
        position: absolute;
        right: 0;
        padding: 10px;
    }

    .socialmedia .fa {
        padding: 10px;
        font-size: 50px;
    }
}

/* Media Query for iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 5px 10px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 7px;
    } 

    .container {
        max-width: 720px;
        min-width: 400px;
        margin: 10% 5%;
    }

    .container img {
        margin-bottom: -10px;
        margin-left: -10px;
    }

    .container .content {
        font-size: 7px;
        padding: 5px;
    }

    .socialmedia {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .socialmedia .fa {
        padding: 10px;
        font-size: 25px;
    }
}

/* Media Query for iPad 1, 2 Mini & Air */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar a {padding: 15px 30px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 15px;
    } 

    .container {
        max-width: 1010px;
        min-width: 740px;
        margin: 10% 5%;
    }

    .container img {
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .container .content {
        font-size: 15px;
        padding: 5px;
    }*/
}

