* {
    box-sizing: border-box;
}

/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #BD4D04;
}  

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

/* Change the color of contact */
.navbar .contact {
    color: #BD4D04;
}

.maincontent {
    text-align: center;
    font-family: Roboto;
    padding-top: 15%;
}

.maincontent h1 {
    font-size: 100px;
}

.maincontent h2 {
    font-size: 80px;
}

.maincontent h3 {
    font-size: 35px;
}