* {
    box-sizing: border-box;
}

body {
  font-size: 17px;
}

/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #BD4D04;
}  

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

/* Change the color of contact */
.navbar .contact {
    color: #BD4D04;
}

.maincontent {
    text-align: center;
    font-family: Roboto;
    padding-top: 10%;
}

.maincontent h1 {
    font-size: 100px;
}

.maincontent h2 {
    font-size: 80px;
}

.maincontent h3 {
    font-size: 35px;
}

/* Phones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px) {
  .navbar a {padding: 5px 10px;}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .navbar a {padding: 20px 30px;}

}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .navbar a {padding: 20px 30px;}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
  .navbar a {padding: 20px 40px;}

}

/* Phones (portrait and landscape) ----------- */
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px) {
  .navbar a {padding: 15px 30px;}*/

/* iPads (landscape) ----------- */
/*@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .navbar a {padding: 20px 30px;}
}*/

/* Desktops and laptops ----------- */
/*@media only screen 
and (min-width : 1024px) {
  .navbar a {padding: 20px 40px;}
}*/

/* Large screens ----------- */
/*@media only screen 
and (min-width : 1824px) {
  .navbar a {padding: 20px 40px;}
}*/

/* Media Query for iPhoneX */
/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 5px 10px;}
}*/

/* Media Query for iPhone 6+, 7+ and 8+ ----------- */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 5px 10px;}
}*/

/* Media Query for iPad 1, 2 Mini & Air */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar a {padding: 15px 30px;}
}*/