* {
    box-sizing: border-box;
}

/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #BD4D04;
}  

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

/* Change the color of home */
.navbar .home {
    color: #BD4D04;
}

.BGpic {
    width: 55%;
    padding-top: 30px;
    float: left;
    position: relative;
}

.mainBody {
    float: center;
    font-family: Roboto;
    text-align: center;
    padding: 250px;
    padding-right: 100px;
}

.mainBody h1 {
    color: #BD4D04;
    letter-spacing: 5px;
    font-size: 80px;
}

.mainBody h4 {
    letter-spacing: 5px;
    font-size: 25px;
    padding-bottom: 50px;
}

.mainBody h5 {
    line-height: 10%;
    font-size: 12px;
    letter-spacing: 2px;
}


/* Phones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 720px) {
    .navbar a {padding: 5px 10px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 5px;
    } 

    .BGpic {
        width: 100%;
        padding-top: 10px;
        float: left;
        position: absolute;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .mainBody {
        float: left;
        text-align: center;
        padding-top: 100px;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .navbar a {padding: 20px 30px;}

    body {
        margin: 10;
        font-family: Roboto;
        font-size: 5px;
    } 

    .BGpic {
        position: relative;
        width: 600px;
        height: 400px;
    }

    .mainBody {
        position: relative;
    }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/*    .navbar a {padding: 20px 30px;}*/
/*
    body {
        margin: 10;
        font-family: Roboto;
        font-size: 5px;
    } 

    .BGpic {
        position: relative;
        width: 600px;
        height: 400px;
    }

    .mainBody {
        position: absolute;
        top: -30px;
        right: 0px;
        width: 300px;
        height: 200px;
    }*/
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
  .navbar a {padding: 20px 40px;}

  body {
    font-size: 12px;
  }

  .container .content h4{
    font-size: 15px;
  }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .navbar a {padding: 20px 40px;}

    .BGpic {
        padding-top: 50px;
    }

    .mainBody {
        float: left;
        text-align: center;
        padding-top: 400px;
    }

}

/* Media Query for iPhoneX */
/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 3px 6px;}
   
    .BGpic {
        width: 100%;
        padding-top: 10px;
        float: left;
        position: absolute;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .mainBody {
        float: left;
        font-family: Roboto;
        text-align: center;
        padding-top: 40%;
        padding: 40px;
        padding-right: 0px;

    }
}*/

/* Media Query for iPhone 6+, 7+ and 8+ ----------- */
/*@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 5px 10px;}
   
    .BGpic {
        width: 100%;
        padding-top: 10px;
        float: left;
        position: absolute;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .mainBody {
        float: left;
        font-family: Roboto;
        text-align: center;
        padding-top: 200px;
        padding: 50px;
        padding-right: 0px;
    }

    .mainBody h4 {
        padding-bottom: 20px;
    }
}*/

/* Media Query for iPad 1, 2 Mini & Air */
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar a {padding: 15px 30px;}

    .BGpic {
        position: relative;
        width: 600px;
        height: 400px;
    }

    .mainBody {
        position: absolute;
        top: -30px;
        right: 0px;
        width: 300px;
        height: 200px;
    }

    .mainBody h1 {
        font-size: 50px;
    }

}*/
