* {
    box-sizing: border-box;
}

/* Add a black background color to the top navigation */
.navbar {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,1.9);
}

.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
    font-family: Roboto;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #BD4D04;
}  

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

.BGpic {
    padding-top: 50px;
    float: left;
    position: relative;
}

.mainBody {
    float: left;
    font-family: Roboto;
    text-align: center;
    padding-top: 400px;
}

.mainBody h1 {
    color: #BD4D04;
    letter-spacing: 5px;
    font-size: 80px;
}

.mainBody h4 {
    letter-spacing: 5px;
    font-size: 25px;
    padding-bottom: 50px;
}

.mainBody h5 {
    line-height: 10%;
    letter-spacing: 2px;
}


/* Media Query for iPhoneX */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 2px 4px;}
   
    .BGpic {
        padding-top: 10px;
        float: left;
        position: absolute;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .mainBody {
        float: left;
        font-family: Roboto;
        text-align: center;
        padding-top: 200px;
    }
}

/* Media Query for iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar a {padding: 2px 4px;}
   
    .BGpic {
        padding-top: 10px;
        float: left;
        position: absolute;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .mainBody {
        float: left;
        font-family: Roboto;
        text-align: center;
        padding-top: 200px;
    }

    .mainBody h4 {
        padding-bottom: 20px;
    }
}

/* Media Query for iPad 1, 2 Mini & Air */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar a {padding: 10px 20px;}
   
    .BGpic {
        padding-top: 30px;
        float: left;
        position: relative;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .mainBody {
        top: 0px;
        float: right;
      /*  text-overflow: right;*/
        position: relative;
    }

}
